/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilos para el encabezado */
.encabezado {
  background-color: #e0e6f3; /* Azul suave */
  color: #4b4b4b; /* Gris suave */
  padding: 20px 0;
}

.encabezado .container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100px;
  margin-right: 20px;
}

.titulo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.titulo h1 {
  margin: 0;
}

.titulo nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.titulo nav ul li {
  display: inline;
  margin-right: 20px;
}

.titulo nav ul li a {
  text-decoration: none;
  color: #4b4b4b; /* Gris suave */
}

/* Estilos para los enlaces */
a {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para las secciones */
.seccion {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion h2 {
  text-align: center;
}

/* Estilos para el pie de página */
.pie-pagina {
  background-color: #e0e6f3; /* Azul suave */
  color: #4b4b4b; /* Gris suave */
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
}

.pie-pagina .container {
  text-align: center;
}

.pie-pagina a {
  color: #4b4b4b; /* Gris suave */
  text-decoration: none;
}

.informacion-contacto p {
  margin: 5px 0;
}

.mapa a {
  display: block;
  margin-top: 10px;
}

/* Resto de estilos con ajustes */
.titulo nav ul li a:hover {
  color: #007bff; /* Azul */
}

/* Estilos para los servicios */
.servicio {
  margin-bottom: 30px;
}

.servicio h3 {
  font-size: 24px;
  color: #007bff; /* Azul */
  margin-bottom: 10px;
}

.servicio p {
  font-size: 16px;
  line-height: 1.6;
  color: #666; /* Gris */
  text-align: justify;
}
